html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    background-image: url('../../../public/img/dashbb.jpg');
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
}
